importlib_metadata;python_version<"3.8"

Sphinx>=7
myst-parser
sphinx-book-theme

sphinxcontrib-mermaid

linkify-it-py
sphinx-copybutton
sphinx-inline-tabs
sphinx_tippy
sphinx-version-warning

sphinx-autodoc-typehints
